@page
@model RP.Pages.Applications.ApplyFailedModel
@{
    ViewData["Title"] = "Ooop! You have already applied for this job!";
}

<h1>@ViewData["Title"]</h1>

<a asp-page="../Jobs/JobList">Return to job list page</a>