<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JobBank - </title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="titles">
            <a id="jobbankTitle" asp-area="" asp-page="/Index">JobBank</a>
            <span></span>
            <a id="home" asp-area="" asp-page="/Index">Home</a>

            <partial name="_LoginPartial" />
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        &copy; 2022 - Rima-Mahsa - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
