@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }

<div class="firstPageTitles">
    <h1 id="welcome">Welcome</h1>
    <nav class="companyApplicant">
        <a action="button" href="Companies/Index">Continue as company</a>
        <p> </p>
        <a action="button" href="Applicants/Index">Continue as job seeker</a>
    </nav>
</div>
